<script lang="ts" setup>
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const add = (item: { id: number; name: string; price: number }) => {
  orderList.value.push(item);
};

const totalPrice = computed(function () {
  return orderList.value.reduce((sum, item) => sum + item.price, 0);
});
const orderList = ref<{ id: number; name: string; price: number }[]>([]);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 87vh; overflow: auto" fluid>
          <v-row>
            <v-col cols="4" v-for="item in products" :key="item.name">
              <v-card height="120" width="150">
                <v-card-text class="text-center"
                  ><h3>product {{ item.id + 1 }}</h3>
                  <br />
                  {{ item.price }}<br />
                  <v-btn @click="add(item)">ADD</v-btn></v-card-text
                >
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container style="height: 80vh; overflow: auto" fluid>
          <v-table>
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="orderList.length === 0">
                <th colspan="12" style="text-align: center">NO Data</th>
              </tr>
              <tr v-else v-for="(item, index) of orderList" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>

        <h1>Sum: {{ totalPrice }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
